@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,500;1,500&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

footer {
    margin-top: auto;
}

.box-shadow {
    box-shadow: 1px 1px 4px 2px rgba(var(--color-latinClub-rgb), 0.4);
}

.box-shadow-latinClub {
    box-shadow: -3px 3px 4px 0 rgba(var(--color-latinBlue-rgb), 0.2);
}

.text-shadow-club,
.tab-button:hover {
    text-shadow: 1px 1px 8px var(--color-latinBlue);
}

.mirror {
    transform: scale(-1, 1);
}